<mat-tab-group mat-align-tabs="center" animationDuration="0ms">
    <mat-tab label="{{categoryName}}">
        <span *ngFor="let account of accounts$ | async">
            <app-list-item *ngIf="(account.balanceByMonth$ | async) || {value: 0} as balanceByMonth"
                name="{{account.name}}" [value]="balanceByMonth.value" action="edit"
                route="/account/update/{{account.id}}" class="cfp-list-item-line"
                routerLink="/operation/list/{{account.id}}">
            </app-list-item>
        </span>
        <button mat-fab color="primary" aria-label="Button with an add icon" class="mainAction"
            routerLink="/account/create">
            <mat-icon>add</mat-icon>
        </button>
    </mat-tab>
</mat-tab-group>