<mat-toolbar class="footer">
    <span class="cfp-shall" *ngIf="shallValue != 0">
        <span class="cfp-label">{{shallLabel}}</span>
        <span class="cfp-value">{{shallValue | number : '1.2-2'}}</span>
    </span>
    <span class="cfp-balance">
        <span class="cfp-label">{{balanceLabel}}</span>
        <span class="cfp-value">{{balanceValue | number : '1.2-2'}}</span>
    </span>
    <span class="cfp-balance">
        <span class="cfp-label">{{finalBalanceLabel}}</span>
        <span class="cfp-value">{{finalBalanceValue | number : '1.2-2'}}</span>
    </span>
</mat-toolbar>