:host ::ng-deep .mat-tab-label {
    width: 100%;
    font-size: 1.2rem;
}

mat-tab-group, app-shall-list {
    /* background-color: aqua; */
    height: 100%;
    /* padding: 0px; */
}

app-list-item {
    height: 2rem;
}

.mainAction {
    position: fixed;
    bottom: 7rem;
    right: 1rem;
}


/* Table */

:host ::ng-deep .mat-header-row {
    height: 1.2rem;
}

:host ::ng-deep .mat-row {
    height: fit-content;
}

:host ::ng-deep .mat-header-cell:first-of-type, .mat-cell:first-of-type, .mat-footer-cell:first-of-type {
    padding-left: 0.2rem;
}

:host ::ng-deep .mat-header-cell:last-of-type, .mat-cell:last-of-type, .mat-footer-cell:last-of-type {
    padding-right: 0.2rem;
}

table {
    width: 100%;
    /* padding: 0px; */
}

.cfp-th {
    font-size: 1.1rem;
    padding: 0.2rem;
    background-color: rgb(250,250,250);
    font-weight: 900;
}

.cfp-td {
    font-size: 1rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    vertical-align: text-top;
}

.cfp-td-date {
    text-align: start;
    width: 20%;
}

.cfp-td-description {
    text-align: start;
    width: 50%;
}

.cfp-td-value {
    text-align: end;
    width: 20%;
}

.cfp-td-action {
    text-align: center;
    width: 10%;
}

.cfp-bold {
    font-weight: 500;
}

.cfp-light {
    font-weight: lighter;
}