<form (ngSubmit)="updateCategory()" #form="ngForm" class="form">
    <mat-form-field appearance="outline">
        <mat-label>Nome da categoria</mat-label>
        <input matInput [placeholder]="placeHolderText" class="form-control" type="text" name="name" id="name"
            [ngModel]="category.name" required (ngModelChange)="nameChange($event)" />
    </mat-form-field>
    <div>
        <button #delete mat-raised-button color="primary" type="button" class="btn btn-block"
            [disabled]="form.form.invalid || isNameChanged" (click)="deleteCategory()">EXCLUIR</button>
        <button #update mat-raised-button color="primary" type="submit" class="btn btn-primary btn-block"
            [disabled]="form.form.invalid || !isNameChanged">ALTERAR</button>
    </div>
    <p class="text"><b>Nota:</b> categoria que já teve conta associada com movimentação não pode ser excluída, apenas
        desativada após a desativação de suas contas.</p>
</form>